<!DOCTYPE html>
<html lang="en">

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1><img class="logo" src="/assets/images/Kaar-Logo.jpg" alt=""> 
                <br> Kaar Technologies</h1>
        </div>
        <ul>
            <li><a routerLink="/leavedata" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Leave Data</span></a> </li>
            <li><a routerLink="/payslip" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Pay Slip</span></a> </li>
            <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Profile</span> </a></li>
            

            
        </ul>
    </div>
    <div class="container">
        
        <div class="content">
          
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Customer Profile View</h2>
                        
                    </div>
                   
                 <table>
                        <tr>
                            <th>PersNo</th>
                            <th>ObjType</th>
                            <th>StartDate</th>
                            <th>EndDate</th>
                            <th>Status</th>
                            <th>CompCode</th>
                            <th>PersArea</th>
                            <th>EmpGroup</th>
                            <th>ContArea</th>
                            <th>OrgUnit</th>
                            <th>ObjName</th>
                            
                            <th>FormatName</th>
                            <th>LastName</th>
                            <th>FirstName</th>
                           <th>DOB</th>
                        </tr>
                        <tr>
                            <td>{{+this.code.PERNR._text}}</td>
                            <td>{{this.code.OTYPE._text}}</td>
                            <td>{{this.code.BEGDA._text}}</td>
                            <td>{{this.code.ENDDA._text}}</td>
                            <td>{{this.code.STATUS._text}}</td>
                            <td>{{this.code.BUKRS._text}}</td>
                            <td>{{this.code.WERKS._text}}</td>
                            <td>{{this.code.PERSG._text}}</td>
                            <td>{{this.code.KOKRS._text}}</td>
                            <td>{{this.code.ORGEH._text}}</td>
                            <td>{{this.code.ORGEH_TXT._text}}</td>
                            <td>{{this.code.ENAME._text}}</td>
                            <td>{{this.code.NACHN._text}}</td>
                            <td>{{this.code.VORNA._text}}</td>
                            <td>{{this.code.GBDAT._text}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>  
        </div>
    </div>
</body>

</html>




