<!DOCTYPE html>
<html lang="en">

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1><img class="logo" src="/assets/images/Kaar-Logo.jpg" alt=""> 
                <br> Kaar Technologies</h1>
        </div>
        <ul>
            <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Profile</span> </a></li>
            <li><a routerLink="/salesorder" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Sale Order</span></a> </li>
            <li><a routerLink="/cusdel" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Delivery</span> </a></li>
              <li><a routerLink="/creditmemo" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Credit/debit memo</span></a> </li>
              <li><a routerLink="/payment" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Payage</span> </a></li>

        </ul>
    </div>
    <div class="container">
        
        <div class="content">
          
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Customer Payment View</h2>
                        
                    </div>
                   
                 <table>
                        <tr>
                            
                            <th>Allocate Number</th>
                            <th>Fisc Year</th>
                            <th>Document Number</th>
                            <th>Item Number</th>
                            <th>Doc Date</th>
                            <th>Currency</th>
                            <th>LC Amount</th>
                            <th>Amount</th>
                            <th>Object Type</th>
                        </tr>
                        <tr *ngFor="let code of code">
                            
                            <td>{{+this.code.ALLOC_NMBR._text}}</td>
                            <td>{{this.code.FISC_YEAR._text}}</td>
                            <td>{{+this.code.DOC_NO._text}}</td>
                            <td>{{this.code.ITEM_NUM._text}}</td>
                            <td>{{this.code.DOC_DATE._text}}</td>
                            <td>{{this.code.CURRENCY._text}}</td>
                            <td>{{this.code.LC_AMOUNT._text}}</td>
                            <td>{{this.code.AMOUNT._text}}</td>
                            <td>{{this.code.OBJ_TYPE._text}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>  
        </div>
    </div>
</body>

</html>



