<!DOCTYPE html>
<html lang="en">

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1><img class="logo" src="/assets/images/Kaar-Logo.jpg" alt=""> 
                <br> Kaar Technologies</h1>
        </div>
        <ul>
            <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Profile</span> </a></li>
            <li><a routerLink="/cusdel" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Delivery</span> </a></li>
            <li><a routerLink="/creditmemo" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Credit/debit memo</span></a> </li>

            <li><a routerLink="/salesorder" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Sale Order</span></a> </li>
            <li><a routerLink="/payment" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Payage</span> </a></li>

        </ul>
    </div>
    <div class="container">
        <h2>Customer SalesOrder View</h2>
        
        <div class="content">
          
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        
                        
                    </div>
                   
                 <table>
                        <tr>
                            <th>SDDoc</th>
                            <th>ItemNum</th>
                            <th>Material</th>
                            <th>ShortText</th>
                            <th>DocType</th>
                            <th>DocDate</th>
                            <th>ReqDate</th>
                            
                            <th>BaseUom</th>
                            <th>Division</th>
                            <th>SalesUnit</th>
                            <th>GIDate</th>
                            <th>Currency</th>
                            <th>Plant</th>
                            
                        </tr>
                        <tr *ngFor="let code of code">
                            <td>{{+this.code.SD_DOC._text}}</td>
                            <td>{{+this.code.ITM_NUMBER._text}}</td>
                            <td>{{+this.code.MATERIAL._text}}</td>
                            <td>{{this.code.SHORT_TEXT._text}}</td>
                            <td>{{this.code.DOC_TYPE._text}}</td>
                            <td>{{this.code.DOC_DATE._text}}</td>
                            <td>{{this.code.REQ_DATE._text}}</td>
                            
                            <td>{{this.code.BASE_UOM._text}}</td>
                            <td>{{this.code.DIVISION._text}}</td>
                            <td>{{this.code.SALES_UNIT._text}}</td>
                            <td>{{this.code.GI_DATE._text}}</td>
                            <td>{{this.code.CURRENCY._text}}</td>
                            <td>{{+this.code.PLANT._text}}</td>
                            
                            <td></td>
                        
                            
                        </tr>
                       
                    </table>
                </div>
            </div>  
        </div>
    </div>
</body>

</html>



