{{ title }}
<h1>{{ Name }}</h1>
<input type="text" [(ngModel)]="Name" />
<br />
<br />
<!-- STRING INTERPOLATION -> not -->
{{ rollno }}
<br />
{{ getName() }}
<br />
<!-- STRING INTERPOLATION WITH ATTRIBUTE BINDING-->
<img [src]="imageUrl" alt="This is the {{ imageAlt }}" />
<br />
<br />
<img src="{{ imageUrl }}" alt="This is the {{ imageAlt }}" />
<!-- property Binding  -->
<button [disabled]="isDisabled">Click</button>
<br />
<br />
<h1 [innerText]="text"></h1>
<!-- Property binding with safe Navigation operator  ?. -->
<p [textContent]="user.name"></p>
<p [textContent]="user.age"></p>
<!-- -------------------------------------- -->
<p [textContent]="user1?.name"></p>
<!-- first there will not be showing any error or after seing ngOnInit function it displays Malica as output  -->

<!-- Event Binding  -->
<h1>clicked {{ count }} times</h1>
<button (click)="clickMe()">Click</button>

<!-- Directives -  directives are like instructions you give to your HTML to tell it what to do 
 or how to behave. Some directives help you show or hide things on the screen (like *ngIf), 
 some help you repeat things (like *ngFor for showing a list), -->

<!-- There are three types of directives in Angular:
Component – A directive with its own design (HTML template), used to build parts of the page.
Structural Directive – Changes the layout by adding or removing elements (like *ngIf, *ngFor).
Attribute Directive – Changes the look or behavior of an element (like ngClass, ngStyle). -->

<!-- ngFor  -->
<h1>STRUCTURAL DIRECTIVE</h1>
<h1>ngFor Example</h1>
<ul>
  <li *ngFor="let movie of movies">{{ movie }}</li>
</ul>

<!-- index  -->
<h1>ngFor - Index Example</h1>
<ul>
  <li *ngFor="let fruit of fruits; let i = index">{{ i + 1 }} . {{ fruit }}</li>
</ul>
<br />

<!-- First and last variable -->
<h1>ngFor - First and last variable Example</h1>
<ul>
  <li *ngFor="let fruit of fruits; let isFirst = first; let isLast = last">
    <strong *ngIf="isFirst">First : </strong>
    <strong *ngIf="isLast">Last : </strong>
    {{ fruit }}
  </li>
</ul>

<!-- even and odd variable -->
<h1>ngFor - Even and odd Example</h1>
<ul>
  <li
    *ngFor="let fruit of fruits; let isEven = even; let isOdd = odd"
    [ngClass]="{ even: isEven, odd: isOdd }"
  >
    {{ fruit }}
  </li>
</ul>

<!-- ngIf  -->
<!-- <p *ngIf="true">ngIf</p> -->
<!-- *ngIf is a built-in Angular directive 
 that is used to show or hide elements in the HTML based on a condition. -->
<h1>ngIf Example</h1>
<input type="checkbox" [(ngModel)]="showMe" />
<h1 *ngIf="showMe">ngIf</h1>

<!-- Attribute Directive  -->
<h1>ATTRIBUTE DIRECTIVE</h1>
<!-- ngClass -->
<h2>ngClass</h2>
<!-- <p [ngClass]="['primary', 'big']">Sample text</p> -->

<span
  >Apply Blue
  <input type="checkbox" [(ngModel)]="applyBlue" />
</span>
<p [ngClass]="{ primary: applyBlue }">Sample text</p>

<!-- ngStyle  -->
<h2>ngStyle</h2>

<p [ngStyle]="{ color: 'red', 'font-size': '40px' }">Sample text</p>

<!-- Pipes  -->
<!-- Pipes are like little tools in Angular that change 
how data looks when you show it on the screen.
For example, if you have a date or a number, a pipe can make it look nice and easy to read — 
like changing a date from 2025-05-22 to May 22, 2025 or making text all uppercase.
 -->
<h1>Pipe</h1>
<h3>Date Pipe</h3>
<p>unformatted Date - {{ toDate }}</p>
<!-- pipe -->
<p>formatted Date - {{ toDate | date }}</p>
<P>medium date : {{ toDate | date : "medium" }}</P>
<P>short date : {{ toDate | date : "short" }}</P>
<P>full date : {{ toDate | date : "fullDate" }}</P>
<P>Long date : {{ toDate | date : "longDate" }}</P>

<p>Short time: {{ toDate | date : 'shortTime' }}</p>
<p>Medium time: {{ toDate | date : 'mediumTime' }}</p>
<p>Full time: {{ toDate | date : 'fullTime' }}</p>
<p>Long time: {{ toDate | date : 'longTime' }}</p>

<p>Custom format (dd/MM/yyyy): {{ toDate | date:'dd/MM/yyyy' }}</p>
<p>Custom format (MM-dd-yyyy): {{ toDate | date:'MM-dd-yyyy' }}</p>
<p>Custom format (yyyy-MM-dd HH:mm): {{ toDate | date:'yyyy-MM-dd HH:mm' }}</p>
<p>Custom format (EEEE, MMMM d, y): {{ toDate | date:'EEEE, MMMM d, y' }}</p>

<h3>Slice Pipe</h3>
<p>Name : {{name}}</p>
<p>Getting First Name : {{name | slice:0:4}}</p>
<p>Getting Last Name : {{name | slice:4:11}}</p>

<p>Displaying Array Items</p>
<ul>
  <li *ngFor = "let item of items">{{item}}</li>
</ul>
<p>Array Items - slice pipe</p>
<ul>
  <li *ngFor = "let item of items | slice:0:2">{{item}}</li>
</ul>

<!-- Uppercase and lowercase pipe  -->
<h3>Uppercase and lowercase pipe </h3>
<p>Name : {{nam}}</p>
<p>Uppercase : {{nam | uppercase}}</p>
<p>Lowercase : {{nam | lowercase}}</p>

<!-- Currency pipe  -->
<h3>currency pipe </h3>
<p>Price without Formatting : {{price}}</p>
<p>Price with Formatting : {{price | currency}}</p><!-- default us dollar --> 
<p>Indian Currency : {{price | currency : 'INR'}}</p><!-- default us dollar --> 
<p>European Currency : {{price | currency : 'EUR'}}</p><!-- default us dollar --> 

<p>--------------------------------------------------------</p>
<!-- sharing data between component  -->
<div>
  <p> sharing data between component </p>
  <!-- this is for decorator -->
  <!-- <app-form (carAdded)="onCarAdded($event)"></app-form> -->   
  <!-- <app-list [carNames]="carNames"></app-list> -->

  <!-- this is using services -->
  <app-form></app-form> 
  <app-list></app-list>

</div>
<p>--------------------------------------------------------</p>


<h2> LifeCycle Hooks </h2>



