<!DOCTYPE html>
<html lang="en">

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1><img class="logo" src="/assets/images/Kaar-Logo.jpg" alt=""> 
                <br> Kaar Technologies</h1>
        </div>
        <ul>
            <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Profile</span> </a></li>
            <li><a routerLink="/cusdel" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Delivery</span> </a></li>
            <li><a routerLink="/creditmemo" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Credit/debit memo</span></a> </li>
            <li><a routerLink="/salesorder" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Sale Order</span></a> </li>
            <li><a routerLink="/payment" routerLinkActive="active" ariaCurrentWhenActive="page">&nbsp;<span>Payage</span> </a></li>

            
        </ul>
    </div>
    <div class="container">
        
        <div class="content">
          
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Customer Profile View</h2>
                        
                    </div>
                   
                 <table>
                        <tr>
                            <th>Customer Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>state</th>
                            <th>country</th>
                            <th>Pin Code</th>
                            <th>Telephone Number</th>
                        </tr>
                        <tr>
                            <td>{{+this.code.KUNNR._text}}</td>
                            <td>{{this.code.NAME_1._text}}</td>
                            <td>{{this.code.NAME_2._text}}</td>
                            <td>{{this.code.STREET._text}}</td>
                            <td>{{this.code.CITY._text}}</td>
                            <td>{{this.code.STATE._text}}</td>
                            <td>{{this.code.COUNTRY._text}}</td>
                            <td>{{this.code.PS_CODE._text}}</td>
                            <td>{{this.code.TELENUM._text}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>  
        </div>
    </div>
</body>

</html>

